<html>

<head>
	<title>Complete Your Game</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>



<nav class="navbar navbar-inverse">


  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      

      <a class="navbar-brand"><img alt="Paranoia Logo" src="../images/paraCopy.png"></a>
      	
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agent Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/consolepage.html">Go Home</a></li>
            <li><a href="/createGame">Create A Game</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="container" id="completeGameTop">
		<strong class="enlargeGameName">Game Name:</strong> <%= game.gameName %><br>
		<form action=<%= "/api/gamePlayer/" + game._id %> method="POST">
			<div id="playerList">
			</div>

			<label class="enlargePlayersName" for="players">Players</label>
			<select id="user" name="user">
				<option>Choose a player</option>
					<% for(var i=0; i< users.length; i++) {%>
			      		<option value="<%= users[i]._id%>"><%= users[i].local.handle%></option> 
					<% } %>
			</select>	
			<button type="submit" class="btn btn-primary">Add Player</button>
		</form>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-offset-3">

				<h2 id="leaderboardTitle">Players in the Game/Leaderboard</h2>


			</div>
			<div class="container">				
				<div id="selectedPlayers">
					<div class="row" id="belowPlayerHeader">
			
						<div class="col-xs-3">
							<h3>Agent Handle</h3>
						</div>
						<div class="col-xs-2">
							<h3>Target</h3>
						</div>
						<div class="col-xs-3">
							<h3>Still Active?</h3>
						</div>

					</div>

				<div class="row tablerow">
					<% if (game._players) {
					game._players.forEach(function(player, index) { %>
					<div class="row">

					<button class="col-xs-1 remove-button btn-danger" type="submit" title="Terminate Player" onclick="deleteGuy('<%= game._id %>','<%= player._id %>')">
						<span class="glyphicon glyphicon-remove-sign"></span>
					</button>

				<div class="col-xs-3 nameSpace">
					<%= player.local.handle %>
				</div>

				<div class="col-xs-2">
					<% if (game.targets[index]) { %>
					<%= game.targets[index].local.handle %> 
					<%}%> 

				</div>

				<div class="col-xs-2">
					<% if (game.targets[index]) { %>
					<%= game.targets[index].local.alive %> 
					<%}%> 

				</div>

				</div>
					<%})}%>
				</div>
				</div>
			</div >

		</div>


		<div class="container row leaderboardButtons">
			<div class="col-xs-3">
				<form action=<%= "/api/targetRoutes/" + game._id %> method="POST" id="startButton" > 
				<button type="submit" title="Start Gaming" class="btn btn-danger">Assign Targets</button>
				</form>
			</div>

			<div class="col-xs-6 submit">
				<span>After assigning targets press:</span>
				<button type="submit" onclick="finalizeGame()" id="finalizeGame" class="btn btn-primary">Finalize Game</button>
			</div>

			<div class="col-xs-3">
				<button type="submit" class="btn btn-success">Update Leaderboard</button>
		</div>

		<!-- <form action=<%="/api/targetRoutes/" + game._id %> method="PUT">
				
				<input id="tagGetter" type="text" class="form-control" name="targets" placeholder="Agent Tag">
				<button type="submit" class="btn btn-success">Update Leaderboard</button>

		</form> -->
	</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/pickplayers.js"></script>
<script type="text/javascript">playerGetter('<%= game._id %>')</script>



</body>
</html>
